In [1]:
import numpy as np
np.random.seed(123)
random_int = np.random.randint(1, high=100, size=(20, 5))
#random_int

## Qn 1) What is the average value of the first 5 rows ( 2 decimal place) ?

In [2]:
random_int.mean(axis=1).round(2)[:5]

array([72.2, 77.6, 55.4, 75.6, 49.2])

## Qn 2) What is the average value of the second element in each of the list (2 decimal places)?

In [3]:
random_int.mean(axis=0).round(2)[1]

58.3

In [4]:
import pandas as pd    
data = pd.read_html("https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/")
mtcars_df = data[0]

## Qn 3) Get the name of the car(s) with highest power to displacement ratio

In [5]:
mtcars_df['ratio_power_displacement'] = mtcars_df['hp'] / mtcars_df['disp']
mtcars_df.sort_values('ratio_power_displacement', ascending=False)['model']

29           Ferrari Dino
27           Lotus Europa
30          Maserati Bora
19         Toyota Corolla
31             Volvo 142E
2              Datsun 710
17               Fiat 128
25              Fiat X1-9
20          Toyota Corona
26          Porsche 914-2
28         Ford Pantera L
9                Merc 280
10              Merc 280C
23             Camaro Z28
1           Mazda RX4 Wag
0               Mazda RX4
18            Honda Civic
6              Duster 360
8                Merc 230
13            Merc 450SLC
12             Merc 450SL
11             Merc 450SE
16      Chrysler Imperial
22            AMC Javelin
4       Hornet Sportabout
21       Dodge Challenger
15    Lincoln Continental
5                 Valiant
24       Pontiac Firebird
14     Cadillac Fleetwood
3          Hornet 4 Drive
7               Merc 240D
Name: model, dtype: object

## Qn 4) How many cars have 4 cylinder and 4 gears?

In [6]:
mtcars_df[(mtcars_df['cyl'] == 4) & (mtcars_df['gear'] == 4)].shape[0]

8

## Q5) Write a python program to count the number occurrences of all vowels present in a string.

In [7]:
def count_vowels(string):
  vowel_list = ['a', 'e', 'i', 'o', 'u']
  return sum([1 if x in vowel_list else 0 for x in string.lower()])

count_vowels("AccelerateAI - Learning Circle")

12