In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

# Read and clean the data set

In [2]:
df = pd.read_csv("EcommercePurchases.csv")
df = df.assign(Purchase_Price = lambda df: pd.to_numeric(df['Purchase Price']))\
       .drop(['Purchase Price'], axis=1)\
       .rename(columns = {'AM or PM':'AM_or_PM', "Browser Info":'Browser_Info', "Credit Card": "Credit_Card", 
                          "CC Exp Date": "CC_Exp_Date", "CC Security Code": "CC_Security_Code",
                          "CC Provider": "CC_Provider", "IP Address": "IP_Address"
                         })\
       .assign(CC_Exp_Date=lambda df: pd.to_datetime(df['CC_Exp_Date'], format="%b-%y"))

# remove rows with purchase price less than or equal to zero
df = df.loc[df['Purchase_Price'] >= 0]

In [3]:
df.iloc[0:2]

,Address,Lot,AM_or_PM,Browser_Info,Company,Credit_Card,CC_Exp_Date,CC_Security_Code,CC_Provider,Email,Job,IP_Address,Language,Purchase_Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.011930e+15,2020-02-01,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.337760e+15,2018-11-01,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

# Maximum and minimum Price

In [4]:
max_price = df['Purchase_Price'].max()
min_price = df['Purchase_Price'].min()

print(f"Maximum price is {max_price}\nMinimum price is {min_price}")

Maximum price is 99.99
Minimum price is 0.0

# How has the average price been trending?

In [5]:
df.groupby('AM_or_PM', as_index=False)\
  .agg(mean_purchase_price=('Purchase_Price', 'mean'))

  AM_or_PM  mean_purchase_price
0       AM            50.186511
1       PM            50.503779

# No of people who have 'en' as their language of choice

In [6]:
# Take the distinct emails, as number of people 
df[df['Language'] == 'en']\
  .drop_duplicates(subset='Email')\
  .shape[0]

1098

# Most popular Credit card provider

In [7]:
# do a groupby, sort descending and print 1st value
most_popular_cc_provide = df['CC_Provider'].value_counts(ascending=False).index[0]
print(f"Most popular credit card provider is {most_popular_cc_provide}")

Most popular credit card provider is JCB 16 digit

# No of people purchasing in AM vs PM

In [8]:
num_people_am = df[df['AM_or_PM'] == 'AM'].drop_duplicates(subset='Email').shape[0]
num_people_pm = df[df['AM_or_PM'] == 'PM'].drop_duplicates(subset='Email').shape[0]
print(f"Number of people purchasing in AM {num_people_am}")
print(f"Number of people purchasing in PM {num_people_pm}")

Number of people purchasing in AM 4917
Number of people purchasing in PM 5061

# No of American Express cards expiring in Year 2025

In [9]:
card_expiring_2025 = (df[df['CC_Provider'] == "American Express"]['CC_Exp_Date'].dt.year == 2025).sum()
print(f"Number of American Express cards expiring in 2025 are : {card_expiring_2025}")

Number of American Express cards expiring in 2025 are : 70

# Top 5 Job titles who purchased in 2020

In [10]:
print(df[df['CC_Exp_Date'].dt.year == 2020]['Job'].value_counts()[0:5])

Designer, fashion/clothing    6
Therapist, art                6
Aid worker                    6
Risk analyst                  6
Forest/woodland manager       6
Name: Job, dtype: int64

# Split of Mozilla to Opera browser

In [11]:
df['Browser_Info'].str.split("/").str[0].value_counts()

Mozilla    7924
Opera      2076
Name: Browser_Info, dtype: int64

# Top 10 first level IPv4 address ( IPv4: ABC.DEF.GHI.KLM, Top Level = ABC)

In [12]:
df['IP_Address'].str.split(".").str[0].value_counts()[0:10]

197    57
25     56
89     56
148    55
102    53
56     53
108    52
98     52
40     51
156    51
Name: IP_Address, dtype: int64

# The top 5 email providers of clients (e.g. gmail, yahoo etc.)

In [13]:
df['Email'].str.split("@").str[1].value_counts()[0:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [14]:
df.describe()

        Credit_Card  CC_Security_Code  Purchase_Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699940e+14        548.000000       50.505000
75%    4.492295e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000