In [1]:
import numpy as np
import pandas as pd 

import seaborn as sbn 
import matplotlib.pyplot as plt

import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_excel("MLR_Q08_TruckMaintenance.xlsx")
df.head()

   Truck  Maintenance Expense  Miles Driven  Age of Truck
0      1               908.56         10500            10
1      2               751.12          9700             7
2      3               793.55          9200             8
3      4               619.61          8300             9
4      5               380.11          6500             5

In [3]:
df.describe()

          Truck  Maintenance Expense  Miles Driven  Age of Truck
count  23.00000            23.000000     23.000000     23.000000
mean   12.00000           519.349565   6321.739130      5.391304
std     6.78233           285.902217   3476.800583      3.257706
min     1.00000           142.530000   1100.000000      1.000000
25%     6.50000           233.390000   2850.000000      2.500000
50%    12.00000           436.040000   6600.000000      5.000000
75%    17.50000           801.680000   9750.000000      8.000000
max    23.00000           915.530000  10500.000000     11.000000

## Without standardizing X variables

In [4]:
Y = df[["Maintenance Expense"]]
X = df[['Miles Driven', 'Age of Truck']]
X = sm.add_constant(X) # adding a constan
reg_model = sm.OLS(Y,X).fit()
print(reg_model.summary())

                             OLS Regression Results
===============================================================================
Dep. Variable:     Maintenance Expense   R-squared:                       0.951
Model:                             OLS   Adj. R-squared:                  0.946
Method:                  Least Squares   F-statistic:                     195.0
Date:                 Wed, 11 May 2022   Prob (F-statistic):           7.62e-14
Time:                         19:07:30   Log-Likelihood:                -127.47
No. Observations:                   23   AIC:                             260.9
Df Residuals:                       20   BIC:                             264.3
Df Model:                            2
Covariance Type:             nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           11.4184     29.191      0.391      0.700     -49.473      72.310
Miles Driven     0.0712      0.009      8.274      0.000       0.053       0.089
Age of Truck    10.7086      9.186      1.166      0.257      -8.453      29.871
==============================================================================
Omnibus:                        1.263   Durbin-Watson:                   1.925
Prob(Omnibus):                  0.532   Jarque-Bera (JB):                0.521
Skew:                          -0.362   Prob(JB):                        0.771
Kurtosis:                       3.142   Cond. No.                     1.52e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.52e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

## With standardizing

In [6]:
Y = df[["Maintenance Expense"]]
X = df[['Miles Driven', 'Age of Truck']]

from sklearn.preprocessing import MinMaxScaler

X_std = (X - X.min()) / (X.max() - X.min())
X_std = sm.add_constant(X_std) # adding a constant
reg_model = sm.OLS(Y,X_std).fit()
print(reg_model.summary())

                             OLS Regression Results
===============================================================================
Dep. Variable:     Maintenance Expense   R-squared:                       0.951
Model:                             OLS   Adj. R-squared:                  0.946
Method:                  Least Squares   F-statistic:                     195.0
Date:                 Wed, 11 May 2022   Prob (F-statistic):           7.62e-14
Time:                         19:08:21   Log-Likelihood:                -127.47
No. Observations:                   23   AIC:                             260.9
Df Residuals:                       20   BIC:                             264.3
Df Model:                            2
Covariance Type:             nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const          100.4626     25.315      3.969      0.001      47.657     153.268
Miles Driven   669.4140     80.908      8.274      0.000     500.642     838.185
Age of Truck   107.0859     91.861      1.166      0.257     -84.533     298.705
==============================================================================
Omnibus:                        1.263   Durbin-Watson:                   1.925
Prob(Omnibus):                  0.532   Jarque-Bera (JB):                0.521
Skew:                          -0.362   Prob(JB):                        0.771
Kurtosis:                       3.142   Cond. No.                         10.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Conclusions:
  - The regresion equation is<br>
     **Maintenance Expense = 11.4184 + 0.0712 * Miles Driven + 10.7086 * Age of Truck**
  - Coefficient magnitude depends on the scale of variable, since the scale of Miles driven is typically in thousands and age of truck is mostly in single digits(max being 11), hence the coefficient for Miles is very small as compared to coefficient for Age. However once we standardize the X variables, then the magnitude for both the variables is comparable(Miles Driven = 669.4140, and Age = 107.0859)
  - R squared for this model is 95.1%, which means that the model is able to explain 95.1% variation in Y variable, using the X variables for the training data.